.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: url('images/trafficBGMiddle.jpg');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: black;
  border: 1px solid black;
}


/*app header divim sisällä oleviin label komponentteihin tyhjä tila cb:n ja labelin väliin*/
.App-header label {
  padding-right: 0.4em;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.list{
  background-color: lightgray;
  border-radius: 10px;
  font-size: medium;
  font-weight: bold;
  
}

.title {
  font-weight: bold;
}

.roadContent {
  border: 2px solid black;
  max-height: 200px;
  overflow: auto;
}
.lakeContent {
  border: 2px solid black;
  max-height: 200px;
  max-width: 400px;
  overflow: auto;

}
.list {
  max-height: 200px;
  max-width: 600px;
  overflow: auto;
}

.seaInput input {
  float:left;

}
.seaInput>button {
 
  margin-left: 10px;

 
}
.ws {
  min-height: 600px;
}

.graph {
  min-height: 600px;
}
.hrLine {
  width:75%;
  border-width: 4;
  color: black;
}
.flexHelpBtn {
  
  float: right;
}
.tfLogo {
  border-radius: 12%;
  
}
.trainNumber {
  margin-left: 10px;
  margin-right: 10px;
}
.pasInfo>button {
  margin-right: 10px;

}

.liData {
  line-height: 1.8;
  /*text-align: left;*/
}
.liData2 {
  line-height: 1.8;
  background-color: #f2f2f2;
  /*text-align: left;*/
  border-radius: 10px;
}
.numberSearch>input {
  margin-right: 10px;

}
.busInput {
  margin-left: 10px;
}
.notice {
  white-space: nowrap;
  margin-left: 5px;
  margin-right: 5px;
}
.clearBtn {
  margin-left: 10px;
}
.changeBtn {
  margin-left: 10px;
  margin-right: 10px;
}
.content {
  border: 2px solid black;
  padding: 8px;
}
.fromAC {
  background-color: #47bfb5;
  width: 240px;

}
.dp {
  background-color: #47bfb5

  
}

